:root {
    --bg-color: #333;
    --green-bg: rgb(22, 118, 52);
    --login-info-incorrect: none;
}

* {
    font-family: 'Calibri';
    margin: 0;
    background-color: var(--bg-color);
    text-decoration: none;
}

.container {
    max-height: min-content;
}

.nav-bar {
    background: linear-gradient(180deg, var(--green-bg) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    margin-bottom: 10px;
}

.nav-item {
    margin-left: 5rem;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: black;
}

.logo {
    width: 60px;
    position: fixed;
    left: 5px;
    top: 5px;
    background-color: rgba(0, 0, 0, 0);
}

a.nav-item {
    font-weight: bolder;
    font-size: 23px;
    position: relative;
    top: -15px;
    text-decoration: none;
}

a.nav-item:hover {
    color: rgb(0, 0, 94);
}

.current-page {
    color: #3a0046;
}

.content {
    margin: 1rem;
}

.yt {
    width: 100px;
}

.yt-a {
    padding-top: 10px;
}

.title {
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.footer {
    margin-top: 133%;
    margin-left: 90%;
}

.theme {
    background-color: rgba(0, 0, 0, 0);
    width: 30px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.theme2 {
    background-color: rgba(0, 0, 0, 0);
    width: 30px;
    position: fixed;
    right: 50px;
    bottom: 10px;
}

.theme:hover, .theme2:hover {
    background-color: rgb(124, 124, 124);
    cursor: pointer;
}

button.border0 {
    border-width: 0;
}

red {
  color: red;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.input-wrap {
  max-width: 500px;
  width: 100%;
  background: linear-gradient(25deg, rgba(14,129,12,1) 0%, rgba(52,66,237,1) 100%);
  padding: 3px 3px;
  border-radius: 5px;
}

input {
  max-width: 500px;
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  border: 2px solid #333;
}

button {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 500px;
  width: 100%;
}